body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
}

.words-list {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
}

.words-list li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-word {
    font-size: 1em;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 5px;
}

.hidden-word {
    color: transparent;
}

#time {
    font-size: 1.5em;
    color: red;
    margin-top: 10px;
}

.btn-submit, .btn-retry {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-submit:hover, .btn-retry:hover {
    background-color: #0056b3;
}

.correct {
    border-color: blue;
}

.incorrect {
    border-color: red;
}

.instructions {
    text-align: left;
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

#input-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit:active {
    background-color: #0056b3;
}

.hidden-words {
    display: none;
}

#memory-test-form {
    position: relative;
}

.btn-retry {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


.btn-retry:hover,
.btn-retry:active {
    background-color: #218838;
}